/*=====================================================
  contents of: header.scss
  =====================================================*/
* {
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 220, 168);
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogoContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 85%;
    font-size: 2rem;
    font-weight: 700;
    text-align: auto;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    padding: auto%;
    z-index: 1000;
    margin: auto;
    background-color: (255, 220, 168);
}

.Headernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 30%;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: auto;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    margin-right: 30px;
}

.headerlink {
    text-decoration: none;
    color: black;
    left: 70%;
    top: 70%;
    position: absolute;
}

.headerButton {
    display: flex;
    align-items: center;
    height: 100px;
    width: 200%;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    background-color: rgb(198, 3, 198);
    border-radius: 0.5rem;
    box-shadow: 5px 5px 0px 0px black;
    border: 3px solid black;
    margin: auto;
    justify-content: center;
    transform: rotate(-2deg);
    cursor: pointer;
    font-family: Oswald, sans-serif;
}

.headerButton:hover {
    background-color: rgb(255, 220, 168);
    color: black;
    border: 3px solid black;
}

.headerButton:active {
    background-color: rgb(198, 3, 198);
    color: black;
    border: 3px solid black;
    box-shadow: 3px 3px 0px 0px black;
}

.Subtitle {
    display: flex;
    align-items: center;
    height: 50px;
    width: 85%;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-size: 5rem;
    margin-top: 8rem;
    position: relative;
    top: 17rem;
    left: 7%;
}

.LogoContainer {
    border-bottom: #e28743 3px solid;
    width: 100%;
    height: 15%;
    padding: 0rem 5rem;
    background-color: rgb(255, 189, 188, 0.7);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.LogoContainer h1 {
    text-decoration: none;
    color: black;
    border-radius: 0.3rem;
    font-size: 5rem;
}
.LogoContainer h1::before {
    content: 'Metal';
    color: black;
}

.LogoContainer h1::after {
    content: 'Tentacle';
    color: red;
}

.section:hover {
    color: red;
    cursor: pointer;
    font-weight: 700;
}

.HiredContainer {
    display: flex;
    align-items: center;
    width: 85%;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-size: 5rem;
    margin-top: 8rem;
    position: relative;
    background-color: #ffbdbc;
    top: 4rem;
    left: 7%;
    overflow: hidden;
    box-shadow: 35px 35px 2px 2px #e28743;
    border-radius: 1.5rem;
    flex-wrap: wrap; /* agrega una nueva fila cuando se desborde */
}

.HiredContainer > div {
    /* ajusta el tamaño de los elementos para que se ajusten correctamente */
    width: calc(25% - 2rem);
    margin: 1rem;
}

.Subtitle h2 {
    margin-right: 3rem;
    display: inline-block;
    vertical-align: middle;
}

.Subtitle img.logo {
    height: 25rem;
    width: 25rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0rem;
    padding-bottom: 2rem;
    filter: grayscale(100%);
    position: relative;
}

.Headernav a {
    text-decoration: none;
    color: black;
}

.title {
    color: black;
}

.robolist {
    display: grid;
    grid-template-rows: min-content;
    grid-auto-flow: column;
    grid-auto-columns: 4%;
    position: absolute;
    top: 200px;
    left: 0;
}

.Robot {
    display: flexbox;
    border: 3px black solid;
    background-color: white;
    height: 100%;
    width: fit-content;
    border-radius: 0.5rem;
    margin: 0rem 4rem;
    box-shadow: 0.2rem 0.2rem 0px 0px black, 0.2rem 0.2rem 0px 0px black;
}

.RobotHired {
    display: flex;
    border: 3px black solid;
    background-color: white;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    margin: 0rem 4rem;
    box-shadow: 0.2rem 0.2rem 0px 0px black, 0.2rem 0.2rem 0px 0px black;
}

.RobotPicture {
    position: relative;
    z-index: 1;
}

.RobotStats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height: 50%;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    font-size: large;
}

.RobotStats h3 {
    color: purple;
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    margin: 0;
}

.RobotPicture img {
    height: 230px;
}

.RobotStats p {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    margin: 0;
}

.Robot h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    margin-top: 1rem;
    white-space: nowrap;
}

.HireButton {
    display: inline-block;
    background-color: #effc3c;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 0.15rem solid black;
    box-shadow: 0.3rem 0.3rem 0px 0px black, 0.3rem 0.3rem 0px 0px black;
}

.HireButton:hover {
    background-color: white;
    color: purple;
    border: 0.15rem solid black;
}

.roboForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 17rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 20px;
    font-weight: 400;
    color: black;
}

.formTitle {
    color: purple;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: auto;
}

.RobotHired {
    border-radius: 10px;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #06ffc4;
    font-size: 14px;
    margin: 1.5rem;
}

.RobotHired .RobotPicture {
    border: 3px solid black;
    height: 15rem;
    margin: 1rem;
    background-image: linear-gradient(
        45deg,
        hsl(240deg 89% 86%) 0%,
        hsl(243deg 57% 85%) 11%,
        hsl(249deg 29% 83%) 22%,
        hsl(319deg 6% 82%) 33%,
        hsl(43deg 26% 81%) 44%,
        hsl(49deg 47% 79%) 56%,
        hsl(52deg 65% 77%) 67%,
        hsl(53deg 79% 75%) 78%,
        hsl(54deg 91% 71%) 89%,
        hsl(55deg 100% 66%) 100%
    );
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0px 0px black, 0.3rem 0.3rem 0px 0px black;
}

.RobotHired .HiredButton {
    margin: 0.5rem;
    display: block;
    cursor: pointer;
    background-color: #effc3c;
    width: 12rem;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-decoration: none;
    cursor: pointer;
    padding: 0.7rem 0rem;
    border-radius: 0.5rem;
    border: 0.15rem solid black;
    box-shadow: 0.2rem 0.2rem 0px 0px black;
}

.RobotHired .HiredButton:hover {
    background-color: white;
    color: purple;
    border: 0.15rem solid black;
}

.RobotHired h2 {
    font-size: 18px;
}

.RobotHired img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.HiredStats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 5px 0;
}

.HiredStats h3 {
    font-size: 16px;
}

.HiredStats p {
    font-size: 14px;
}

.roboForm button {
    padding: 1rem;
    margin: 2rem;
    width: 320px;
    font-size: 1.5rem;
    background-color: purple;
    border-radius: 2rem;
    font-weight: 800;
    box-shadow: 5px 5px 0px 0px black;
}

.roboForm button:hover {
    background-color: rgb(248, 116, 228);
    color: rgb(91, 0, 91);
    box-shadow: 5px 5px 0px 0px black;
    cursor: pointer;
}

.roboForm button:active {
    transform: scale(0.99);
    box-shadow: 5px 5px 0px 0px black;
}

.formArea {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    box-shadow: 30px 35px 2px #e28743;
    height: 500px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
}

.formInput {
    outline: none;
    border: 2px solid black;
    box-shadow: 3px 4px 0px 1px black;
    width: 290px;
    padding: 12px;
    font-size: 15px;
    border-radius: 4px;
}

.formInput:focus {
    transform: scale(1.01);
    box-shadow: 3px 4px 0px 1px black;
}

